
/** Stylesheet for TravelManager pages **/

/* START General */

@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    outline: none;
}

body {
    margin: 0 auto;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background: url('../images/bg.png') repeat;
}

/* END General */

/* START Header */

header {
  width: 100%;
  height: 60px;
  background: #363C48;
  position: relative;
  text-align: center;
  font-size: 11pt;
  color: #FEFEFE;
  text-transform: uppercase;
}

header > img.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: auto;
  height: 20px;
}

header > a.user-control:link, header > a.user-control:visited {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  height: 60px;
  line-height: 60px;
  color: #FEFEFE;
  font-size: 12pt;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
}

header > a.user-control:hover {
  background: #272B33;
  cursor: pointer;
}

header > a.user-control > span {
  margin-left: 5px;
}

header > a.user-control > img {
  width: 20px;
  height: 20px;
  position: relative;
  top: 5px;
}

header > span {
  display: inline-block;
  width: auto;
  height: 60px;
  line-height: 50px;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
}

header > span:hover {
  cursor: pointer;
}

header > span > div#menu-arrow {
  position: absolute;
  left: 50%;
  bottom: 10px;
  margin-left: -3px;
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-right: 3px solid #FEFEFE;
  border-top: 3px solid #FEFEFE;
  transform: rotate(135deg);
}

/* END Header */

/* START Navigation Menu */

nav {
  display: none;
  width: 400px;
  height: auto;
  background: #545E72;
  position: absolute;
  top: 60px;
  left: 50%;
  margin-left: -200px;
  text-align: center;
}

nav.mobile-menu {
  width: 100% !important;
  left: 0 !important;
  margin: 0 auto !important;
}

nav > a:link, nav > a:visited {
  display: block;
  text-decoration: none;
  color: #FEFEFE;
  font-size: 11pt;
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 20px;
}

nav > a:hover {
  background: #3C424F;
  cursor: pointer;
}

/* END Navigation Menu */

/* START Account Page */

h1.account-title {
  display: inline-block;
  width: 90%;
  max-width: 850px;
  height: auto;
  text-align: center;
  text-transform: uppercase;
  color: #363C48;
  font-size: 14pt;
  margin-top: 30px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px #363C48 solid;
}

div.all-settings {
  display: inline-block;
  width: 90%;
  max-width: 850px;
  height: auto;
  border: 1px #363C48 solid;
  border-radius: 3px;
  text-align: center;
}

div.all-settings > div.account-setting {
  display: inline-block;
  width: 95%;
  height: auto;
  margin: 0 auto;
  padding: 0px;
  text-align: center;
  border-bottom: 1px #CECECE solid;
}

div.all-settings > div.account-setting:last-of-type {
  border: 0px;
}

div.all-settings > div.account-setting > div.setting-name {
  display: inline-block;
  width: 45%;
  height: 60px;
  line-height: 60px;
  text-align: left;
  color: #363C48;
  font-size: 11pt;
  margin: 0 auto;
  padding: 0px;
}

div.all-settings > div.account-setting > div.setting-action {
  display: inline-block;
  width: 45%;
  height: 80px;
  line-height: 80px;
  text-align: right;
  color: #363C48;
  font-size: 11pt;
  margin: 0 auto;
  padding: 0px;
}

div.all-settings > div.account-setting > div.setting-action > button.green {
    display: inline;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 40px;
    border: 0px;
    background: #6DC234;
    color: #FFFFFF;
    font-size: 11pt;
    padding: 10px 20px;
    border-radius: 5px;
    outline: none;
}

div.all-settings > div.account-setting > div.setting-action > button.green:hover {
    background: #529128;
    cursor: pointer;
}

div.all-settings > div.account-setting > div.setting-action > button.red {
    display: inline;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 40px;
    border: 0px;
    background: #F24141;
    color: #FFFFFF;
    font-size:11pt;
    padding: 10px 20px;
    border-radius: 5px;
    outline: none;
}

div.all-settings > div.account-setting > div.setting-action > button.red:hover {
    background: #D62F2F;
    cursor: pointer;
}

/* END Account Page */
