
// Stylesheet for TravelManager pages

@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    outline: none;
}

body {
    margin: 0 auto;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    background: #FEFEFE;
}

header {
  width: 100%;
  height: 60px;
  background: #363C48;
  position: relative;
  text-align: center;
  font-size: 11pt;
  color: #FEFEFE;
  text-transform: uppercase;
}

header > img.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: auto;
  height: 20px;
}

header > a.user-control:link, header > a.user-control:visited {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  height: 60px;
  line-height: 60px;
  color: #FEFEFE;
  font-size: 12pt;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
}

header > a.user-control:hover {
  background: #272B33;
  cursor: pointer;
}

header > a.user-control > span {
  margin-left: 5px;
}

header > a.user-control > img {
  width: 20px;
  height: 20px;
  position: relative;
  top: 5px;
}

header > span {
  display: inline-block;
  width: auto;
  height: 60px;
  line-height: 60px;
  z-index: 100;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
}

header > span:hover {
  cursor: pointer;
  background: #272B33;
}

header > span > div#menu-arrow {
  position: absolute;
  left: 50%;
  bottom: 10px;
  margin-left: -3px;
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-right: 3px solid #FEFEFE;
  border-top: 3px solid #FEFEFE;
  transform: rotate(135deg);
  z-index: 99;
}

/* Navigation Menu */

nav {
  width: 400px;
  height: auto;
  background: #363C48;
  position: absolute;
  top: 60px;
  left: 50%;
  margin-left: -200px;
}

nav > a:link, nav > a:visited {
  display: block;
  text-decoration: none;
  color: #FEFEFE;
  font-size: 11pt;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
}
